.index {
	min-height: 250px;
	overflow: hidden;
	position: relative;
}

@media (min-width: 567px) {
	.index {
		min-height: 420px;
	}
}

@media (min-width: 768px) {
	.index {
		min-height: 480px;
	}
}

@media (min-width: 992px) {
	.index {
		min-height: 575px;
	}
}

@media (min-width: 1200px) {
	.index {
		min-height: 750px;
	}
}

@media (min-width: 1600px) {
	.index {
		min-height: 900px;
	}
}
